/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
|----------------------------------|
*/
@import "variables";

.bg-primary { background-color: $primary;}
.bg-blue { background-color: $blue;}
.bg-violet { background-color: $violet;}

.color-primary { color: $primary;}
