@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/Poppins-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins/Poppins-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/Poppins-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins/Poppins-SemiBold.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

