.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.box1 {
  color: green;
}

.box2 {
  color: blanchedalmond;
}

.color {
  color: pink;
}
